body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
}

a:link {
    color: #aaaaff;
}

a:visited {
    color: #ffaaff;
}

input:focus { 
    background-color: #333333;
}

select:focus { 
    background-color: #333333;
}

div.section {
    max-width: 640px;
    min-width: 360px;
    border-style: solid;
    border-width: 2px;
    border-color: Black;
    border-radius: 6px;
    padding: 6px;
    background: DimGray;
    color: White;
}

#results {
    text-align: center;
    font-size: 2em;
}

#dof_range {
    font-size: 1em;
}

#params {
    text-align: center;
    font-size: 1.5em;
}

.topic {
    padding: 6px;
    border-style: dashed;
    border-width: 1px;
    border-color: LightGray;
    border-radius: 6px;
    margin-bottom: 6px;
}

.topic-label {
    font-size: 1.25em;
}

.topic-content {
    display: none;
    font-size: 1em;
    margin-left: 60px;
}

#spacer {
    height: 6px;
}

.dofinput {
    font-size: 1em;
    background: Gray;
    color: White;
}

.dofinput[name=distance] {
    text-align: right;
}

.dofinput[name=focal_length] {
    text-align: right;
}

.addinput {
    font-size: 0.8em;
    background: Gray;
    color: White;
}

select[name=format] {
    font-size: 0.8em;
}

#hf_label {
    display: inline-block;
}

#hf_result {
    display: inline-block;
}

#add-format {
    display: none;
    font-size: 0.8em;
}

select[name=denominator] {
    font-size: 0.9em;
    background: Gray;
    color: White;
}

#coc {
    font-size: 0.67em;
}

.param-section {
    margin-bottom: 6px;
}

#help {
    display: none;
}

#help-btn {
    display: inline;
    float: right;
    font-size: 0.8em;
    border-style: dashed;
    border-color: LightGray;
    border-width: 1px;
    border-radius: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
